@import "tailwindcss";

@layer base {
    @font-face {
        font-family: "tianqi";
        src: url("../../public/assets/fonts/tianqi.woff2");
        font-weight: 400;
        font-style: normal;
    }
}

@theme {
    --font-tianqi: "tianqi";
}
